.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__switch {
    display: flex;
    align-items: center;
  }

  &__switch-option {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__switch-option--active {
    color: $color-grey-light-1;
  }

  &__box {
    border-radius: 2rem;
    outline: none;
    margin: 2rem 0;
  }
}
