// variables
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-pink-primary: #eb2f64;
$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-dark-2: #1f3c66;

$color-green-dark-2: #111719;
$color-green-dark-1: #1b2a2f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #111111;

$color-white: #fff;
$color-black: #000;

// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include responsive(620px) {
    font-size: 75%;
  }
  @include responsive(960px) {
    font-size: 85%;
  }
  @include responsive(1200px) {
    font-size: 95%;
  }
}

input,
textarea {
  padding: 10px 16px;
}

// fonts
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

h1 {
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}
p {
  font-size: 1.7rem;
}
